<section class="glass">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-foreground">Profile</h2>
    <form
      action="#"
      class="flex flex-col gap-8 align-middle justify-center"
      [formGroup]="profileForm"
    >
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            for="userName"
            class="block mb-2 text-sm font-medium text-foreground"
            >User Name</label
          >
          <input
            formControlName="userName"
            type="text"
            name="userName"
            id="userName"
            class="bg-input border border-gray-300 text-foreground text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Type user name"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="authorName"
            class="block mb-2 text-sm font-medium text-foreground"
            >Author Name</label
          >
          <input
            formControlName="authorName"
            type="text"
            name="authorName"
            id="authorName"
            class="bg-input border border-gray-300 text-foreground text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Type author name"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-foreground"
            >Email</label
          >
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            class="bg-input border border-gray-300 text-foreground text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Email"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="bio"
            class="block mb-2 text-sm font-medium text-foreground"
            >Bio</label
          >
          <textarea
            id="bio"
            rows="4"
            formControlName="bio"
            class="block p-2.5 w-full text-sm text-foreground bg-input rounded-lg border border-gray-300 focus:ring-primary focus:border-primary dark:border-gray-600 dark:placeholder-gray-400"
            placeholder="Your bio here"
            maxlength="2480"
            required
          ></textarea>
        </div>
      </div>
      <app-button
        type="submit"
        impact="bold"
        tone="primary"
        shape="rounded"
        size="medium"
        [disabled]="profileForm.invalid"
        (click)="createProfile()"
        >Create</app-button
      >
    </form>
  </div>
</section>
