<div class="flex h-screen w-screen">
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a>
          <img
            class="h-8 w-auto rounded-full"
            src="../../../assets/logo/v2.png"
            alt="Alvin Ang"
          />
        </a>
        <b class="text-md pl-3 font-bold text-foreground"> Admin Blog 2024 </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
